 @import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

 body{
    background: white;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    color: black;
  }
.com{
    font-size: 25px;
    font-family: calibra;
    text-align: center;
    font-weight: bolder;
  }
 #logo{
 	float: left;
 	width:  150px;
 	height: 150px;
}
#fighter{
	float: center;
	width: 300px;
	height:250px;
} 
 #mess{
 	color: #696969;
 	float: right;
 }
  #conf{
  	color: #DC143C;
  	background-color: rgba(220,20,60,0.1);
  	
  }
  #act{
  	color: #00CED1;
  	background-color: rgba(0,206,209,0.1);
  
  }
  #rec{
  	color: 	#228B22;
  	background-color: rgba(34,139,34,0.1);
  	
  }
  #det{
  	color: #696969;
  	background-color: rgba(105,105,105,0.1);
  }
  *{
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }
  .heading{
  	font-size: 50px;
  	color: black;
  	margin-top: 10px;
  	margin-bottom: 25px;
  	font-family: Quantico;
  }
  .covid-19{
  	color: black;
  }
 
  .ind{
  	
  	padding: 5px;
  	color: 	#00BFFF;
  	justify-content: space-around;
  }
  .container{
  	width: 90%;
  	height: 155px;
  	margin: auto;
  }
  .total-case-box{
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	text-transform: uppercase;
  	font-family: calibri;
  	display: flex;
  	justify-content: space-around;

  }
 .total-case-box>div{
  	width: 23%;
  	height: auto;
  	border-radius: 5px;
  	background-color: #f5f5f5;
  	padding: 10px;
  	float: left;
  	margin-bottom: 10px;  }
 .total-case-box>div h2{
 	font-size: 25px;
 }
 .icon-box{
 	width: 50px;
 	height: 50px;
 	border-radius: 50%;
 	
 	margin: auto;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .icon-box i{
 	color: white;
 	font-size: 30px;
 }
 table {
 	width: 100%;
 	padding: 15px 10px;
 	margin: 25px 0;
 	text-align: center;
 	border-spacing: 0;
 }
 tr:first-child{
 	background-color: white;
 	color: black;
 	text-transform: uppercase;
 	position: -webkit-sticky;
 	position: sticky;
 	font-family: Quantico;
 	top: 0;
 	z-index: 1;
 }
 th{
 	padding: 15px 0;
 	border: none;
 	border-spacing: 0;
 	cursor: default;
 	font-size: 20px;
 }
tr:hover{
	background-color: #D3D3D3;
}
 tr:nth-child(even){
 	background-color: #f3f3f3;
 }
 tr:nth-child(odd) : {
 	background-color: #DCDCDC;
 	
 }
 tr td{
 	padding: 15px 0;
 	font-family: Quantico;
 }
 #end{
 	color: #00BFFF;
 	font-size: 40px;
 	text-transform: uppercase;
 	text-align: center;
 	position: relative;
 	font-family: Quantico;
 }
 @media(max-width: 992px){
	 .com{
    font-size: 20px;
  }
 	#end{
 		font-size: 20px;
 	}
 	.heading {
 		font-size: 30px;
 	}
 	.total-case-box> div h2{
 		font-size: 25px;
 	}
 	.icon-box{
 		width: 40px;
 		height: 40px;
 	}
 	.icon-box i{
 		font-size: 25px;
 	}
 	.container{
 		height: 130px;
 	}
 	#logo{
 		width:100px;
 		height:100px;
 	}
 	th{
 		font-size: 0.6rem;
 	}
 	td{
 		font-size: 0.8rem;
 	}
 	table{
 		padding: 0;
 		margin: 0;
 	}

 }
  @media(max-width: 768px){
	  .com{
      font-size: 14px;
    }
 	.heading {
 		font-size: 15px;
 	}
 	.total-case-box> div h2{
 		font-size: 18px;
 	}
 	.icon-box{
 		width: 35px;
 		height: 35px;
 	}
 	.icon-box i{
 		font-size: 20px;
 	}
 	.container{
 		height: 100px;
 	}
 	#logo{
 		width: 75px;
 		height:75px;
 	}
 	th{
 		font-size: 0.6rem;
 	}
 	td{
 		font-size: 0.8rem;
 	}
 	table{
 		padding: 0;
 		margin: 0;
 	}
 	#end{
 		font-size: 20px;
 	}
	  @media(max-width: 550px){
  .com{
    font-size: 9px;
  }
 }
 	
 }
